* {
    padding: 0;
    margin: 0;
}

img:hover {
    cursor: pointer;
}

/* Gobal */

.display-flex {
    display: flex;
}

.margin-left {
    margin-left: 1.5rem;
}

.margin-right {
    margin-right: 1.5rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 5rem;
}

.margin-top2 {
    margin-top: 2rem;
}

.height-100 {
    height: 100%;
}

.bold {
    font-weight: bold;
}

.grey {
    color: grey;
}

.padding {
    padding: 1rem 1.5rem;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
}

:root {
    --img: url(assets/img/images/card1.jpg)
}

/* Header*/

header {
    font-family: 'Montserrat', sans-serif;
    grid-row: 1/2;
    font-size: 1.2rem;
}

div img {
    position: relative;
}

.shopping-bag-icon span {
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    background-color: #7CB9E8;
    border-radius: 50%;
    padding: .1rem .3rem;
    margin-top: 13px;
    margin-left: -28px;
}

.menu-nav ul {
    list-style-type: none;
    background-color: rgba(188, 177, 177, 0.5);
    height: 100%;
    width: 300px;
    top: 0;
    display: none;
    margin-top: -.5rem
}

/* Main */
main {
    grid-row: 2/3;
    font-family: 'Montserrat', sans-serif;
}

.lr {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}


/* second section*/

.second-section {
    position: relative;
}

.second-section img {
    width: 32rem;
    border-radius: 5px;
}

.second-img {
    text-align: center;
}

.first-img,
.second-img {
    position: relative;
    display: inline-block;
}

.first-img img,
.second-img img {
    position: relative;
    z-index: -1;
}

.hover-text {
    margin-bottom: 15px;
    font-size: 1.5em;
    top: 0;
    position: absolute;
    display: none;
}

.first-img:before,
.second-img:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 32rem;
    height: 99%;
    border: 1px solid black;
    box-sizing: border-box;
    transition: .3s ease;
    border-radius: 5px;
}

.first-img:hover:before,
.second-img:hover:before {
    border: 2px solid black;
    top: -2px;
    left: -.5px;
    background-color: rgba(244, 240, 240, 0.7);
}

.first-img:hover .hover-text,
.second-img:hover .hover-text {
    display: block;
}

/* Fragrance Types Section */

.fragrance-icons-container {
    justify-content: space-around;
}

.fragrance-icons {
    width: 9rem;
}

.fragrance-heading {
    font-size: 1.5em;
}

/* Video Section */
.video-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    column-gap: 2rem;
}

.video,
.ifr {
    width: 35rem;
    height: 20rem;
}

.ifr {
    width: 100%;
    height: 100%;
}

.video-container h2 {
    font-size: 2em;
}

.video-text {
    font-size: 2em;
    color: #0e747a;
}

.video-p {
    line-height: 2em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: -25rem 3rem 0 3rem;
}

.btn {
    border: 1px solid black;
    background-color: aliceblue;
    padding: 5px;
}

.pod {
    position: relative;
}

.first-prf {
    position: absolute;
    margin-left: 20rem;
    display: none;
}

.buttons:hover .first-prf {
    display: block;
}

/*Slider container*/
.sliders-container {
    box-shadow: rgba(91, 87, 87, 0.5);
}

.sliders-container .slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-slide:before,
.second-slide::before,
.third-slide::before {
    content: '';
    position: absolute;
    width: 14.5rem;
    height: 21.7rem;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: -20px;
    margin-top: -1.85rem;
    border-radius: 5px;
}

.slides img {
    width: 12rem;
    border-radius: 5px;
    position: relative;

}

.slides:hover img {
    animation: myAnim 1s ease normal forwards;
}

.slides img:not(:hover) {
    animation: myAnim2 .5s ease normal backwards;
}

@keyframes myAnim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes myAnim2 {
    100% {
        transform: scale(1);
    }

    0% {
        transform: scale(1.2);
    }
}


/* Scroll effect */

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Overlapping */
.overlapping {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlapping img {
    width: 450px;
    border-radius: 10px;
}

.zara-perfume {
    position: relative;
    margin-right: 25rem;
    border-radius: 10px;
}

.seaview {
    margin-top: 20rem;
    margin-left: -28rem;
    position: relative;
    border-radius: 10px;
}

/* Buttons */
a {
    position: absolute;
    margin-left: 10rem;
    margin-top: 4rem;
    text-decoration: none;
    padding: 10px 15px;
    overflow: hidden;
    color: #646ab8;
    font-weight: bold;
}

a:hover {
    color: #000ba5;

}

.second-btn {
    position: absolute;
    margin-top: -6rem;
    margin-left: 12rem;
}

a::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    background: rgba(255, 255, 255, 0.05);
    width: 50%;

}

a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffffff, #0f1780);
    animation: animate1 linear 2s infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

a span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #0f1780);
    animation: animate2 linear 2s infinite;

}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #ffffff, #0f1780);
    animation: animate3 linear 2s infinite;
    animation-delay: 2s;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

a span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #ffffff, #0f1780);
    animation: animate4 linear 2s infinite;


}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* Footer */
footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #002244;
    grid-row: 3/4;
    color: white;
}


.footer-icons {
    width: 20px;
    margin-bottom: -4px;
}

.footer-info {
    display: flex;
    gap: 1rem;
    line-height: 3rem;
}

input[type="search"] {
    background-color: #002244;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 5px;
}

input[type="search"]:focus {
    border-bottom: 2px solid #7888e2;
}

.footer-input {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}

.send {
    margin-top: .5rem;
    background-color: #010a3a;
    padding: 5px 10px;
    border-radius: 5rem;
    text-align: center;
    color: white;
}


.footer-div hr {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.send:hover {
    animation: send 1s ease normal forwards;
}

.send:not(:hover) {
    animation: send2 .5s ease normal backwards;
}

@keyframes send {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes send2 {
    100% {
        transform: scale(1);
    }

    0% {
        transform: scale(1.1);
    }
}

/* Media Queries */
@media(max-width:1024px) {
    .video-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0;
        text-align: center;
    }

    .video {
        width: 100%;
    }

    .ifr {
        width: 100%;

    }
}


@media(max-width: 768px) {
    
    .slider .slides{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15rem;
    }
    .slides img{
        width: 30rem;
    }
    .video-container{
        margin-top: 7rem;
        
    }
    .video{
        margin-top: 0;
        margin-bottom: 5rem;
        width: 35rem;
        margin-left: 6.8rem;
    }
    
    .sliders-container{
        margin-top: 8rem;
    }
    .first-slide:before,
.second-slide::before,
.third-slide::before {
    width: 36.5rem;
    height: 54.4rem;
    margin-left:2px;
    margin-top: -4.7rem;
  
}
.second-section{
    text-align: center;
    margin-top: 3rem;
}
.second-section .second-section{
    display: flex;
    flex-wrap: wrap;
}
.first-img{
    margin-bottom: 3rem;
}
.second-img{
    margin-left: 2.5rem;
}
.first-img:before,
.second-img:before {
   margin-left: 7.4rem;
    width: 32rem;
    height: 99%;
}
.second-img:before{
    margin-left: 6.2rem;
}
.overlapping{
  flex-direction: column;


}
.overlapping .zara-perfume img{
align-items: center;
}

}