* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-rows: 100px 400px 100px;
    grid-template-columns: 1fr 5fr;
}

header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(116, 173, 226);
}

main {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(146, 201, 229);
}

aside {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(104, 192, 206);
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(84, 139, 207);
}

header,
footer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

main,
aside {
    padding-left: 10px;
    padding-top: 10px;
}