body{
    font-size: 50px;
    padding: 30px;
}
tr:nth-child(odd){
    background-color: rgb(117, 117, 190);
    color: white;
    margin-bottom: 5px;
}
tr:nth-child(even){
    background-color: rgb(84, 84, 170);
    color: white;
}
table{
    border-collapse: collapse;
}
table tr{
    border-bottom: 2px solid white;
}