* {
    cursor: url('images/cursor.png'), auto;
}

body {
    background-size: cover;
    background-image: url(images/img.jpg);

}

ul {
    padding: 1rem;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
    color: white;
    text-decoration: none;
}

.nav {
    background-color: #2f6f84;
    padding: 1rem;
    border-radius: .4rem;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.nav:hover {
    background-color: #318CE7;
    color: white;
}

hr {
    border-color: rgb(0, 0, 0);
    width: 75%;
}

.profile-image {
    width: 200px;
    border: 1px solid black;
}

.description {
    background-color: rgb(227, 225, 127);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin: 30px 155px 0px 155px;
}

.description:hover {
    border: 2px solid black;
    background-color: rgb(222, 222, 55);
}

.Education {
    text-align: center;
    background-color: #FA8072;
    padding: 1rem;
    border-radius: 1rem;
    margin: 30px 155px 0px 155px;
}

.Education:hover {
    background-color: #E34234;
    border: 2px solid black;

}

.education-ul {
    background-color: white;
    list-style-type: none;
    border-radius: 1rem;
}

.list-content {
    text-align: left;
    list-style-type: none;
}

.list-content::before {
    content: "-";
}

.list-titles {
    text-align: left;
    color: grey;
    font-weight: bold;
}

.mySkills {
    text-align: center;
    background-color: rgb(117, 207, 117);
    padding: 1rem;
    margin: 30px 155px 0px 155px;
    border-radius: 1rem;
}

.mySkills:hover {
    background-color: rgb(76, 170, 76);
    border: 2px solid black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0%;
}

.colored-table-rows {
    background-color: rgb(76, 170, 76);
}

td {
    text-decoration: underline;
}

.myProjects {
    background-color: #FFB6C1;
    padding: 1rem;
    border-radius: 1rem;
    margin: 30px 155px 0px 155px;
    text-align: center;
}

.myProjects_content {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 13px;

}

.myProjects:hover {
    background-color: #E37383;
    border: 1px solid black;
}

.buttons_in_my_projects {
    background-color: rgb(229, 105, 48);
    padding: 3px;
    border-radius: 4px;
    vertical-align: 7px;
    color: white;
    text-decoration: none;
}

.buttons_in_my_projects:hover {
    background-color: rgb(201, 71, 10);
}

footer {
    background-color: rgb(24, 23, 23);
    padding: 1rem;
    margin: 30px 155px;
    margin-bottom: -8px;
    color: white;
    text-align: center;
}

.my-projects-body {
    background-image: url(images/img1.avif);
}

.project1 {
    background-color: pink;
    text-align: center;
    padding: 1rem;
    margin: 30px 155px 0px 155px;
    margin-top: auto;
    border-radius: 1rem;
}

.project1:hover {
    background-color: #D8BFD8;
    border: 1px solid black;
}

img {
    width: 500px;
    border: 1px solid black;
}

.project2 {
    background-color: #a4466f;
    text-align: center;
    padding: 1rem;
    margin: 30px 155px 0px 155px;
    border-radius: 1rem;
}

.project2:hover {
    background-color: #DA70D6;
    border: 1px solid black;
}

.project3 {
    background-color: #F33A6A;
    text-align: center;
    padding: 1rem;
    margin: 30px 155px 0px 155px;
    border-radius: 1rem;
}

.project3:hover {
    background-color: #9F2B68;
    border: 1px solid black;
}

.contact_me_body {
    background-image: url(images/img2.jpg);
    text-align: center;
}

.contact-me-section1 {
    background-color: #4682B4;
    border-radius: 1rem;
    padding: 1rem;
    margin: 30px 155px 0px 155px;
}

.contact-me-section1:hover {
    background-color: #246ea2;
    border: 1px solid black;
}

.contact-me-section2 {
    background-color: #6495ED;
    padding: 1rem;
    border-radius: 1rem;
    margin: 30px 155px 0px 155px;
}

.contact-me-section2:hover {
    background-color: #89CFF0;
    border: 1px solid black;
}

.img-contact {
    width: 5%;
    border: none;
    border-radius: 5px;
}

.submit-btn {
    width: 150px;
    height: 30px;
    background-color: rgb(156, 156, 231);
    border-radius: 20px;
    border: none;
}

.submit-btn:hover {
    border: 1px solid black;
}